::deep .nav-menu-narrow .mud-nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

::deep .nav-menu-narrow .mud-nav-link .mud-nav-link-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
