.auth-landing__actions ::deep .mud-button-filled:hover {
    box-shadow: none !important;
    background-color: var(--mud-palette-primary) !important;
}

.guest-login-paper {
    background: transparent;
    border: none;
}
